p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans', sans-serif;

  color: #334f55;
}

h2 {
  font-family: Noto Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}
.tinny-font {
  font-weight: 600 !important;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #adadad;
}
.page-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* align-items: baseline; */
}
.sidebar {
  width: 215px;
  background: #fff;
  min-width: 215px;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar .logo {
  margin-bottom: 69px;
}
.sidebar ul li {
  padding: 14px 0px 14px 39px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  color: #334f55;
}
.sidebar ul li span {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #334f55;
}

.responsive {
  width: 112px;
  background: #fff;
  min-width: 112px;
}
.responsive ul li span {
  display: none;
}
.sidebar ul li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.sidebar ul li:hover svg path {
  fill: #525ded;
}
.sidebar ul .active li{
  background-color: #f5f5f5;
}
.active{
  text-decoration: none;
}
.sidebar ul .active svg path {
  fill: #525ded;
}
.sidebar svg {
  /* margin: 30px; */
  margin-right: 30px;
}

.admin-page-wrapper {
  background: #f5f5f5;
  padding: 37px 68px 28px 55px;
  width: 100%;
}
.admin-main-content-wrapper {
  display: flex;
}
.admin-full-content header > div > div {
  justify-content: space-between;
}
.admin-main-content-wrapper .content {
  max-width: 730px;
  width: 100%;
  margin-right: 32px;
}
.admin-full-content .admin-main-content-wrapper .content {
  max-width: 834px;
}
.content .activity-report-wrapper {
  background: #ffffff;
  border-radius: 15px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

.content .job-status {
  width: 260px;
  background: #f5f5f5;
  border-radius: 15px;
  padding: 18px;
}
.tolal-img {
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 15px;
  padding: 11px 14px;
  margin-right: 20px;
}
.header-img h2 {
  margin-left: 12px !important;
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;

  color: #334f55;
}
.btn-group {
  width: 127px;
}
.notification-btn {
  cursor: pointer;
}
.post-dropdown {
  position: absolute;
  display: none;
}
.post-dropdown-toggle {
  position: absolute;
  display: block;
  background: #334f55;
  background-color: #334f55;
  border-radius: 10px;
  padding: 22px 7px 19px 19px;
  width: 164px;
  right: 0;
  top: 42px;
}
.post-dropdown-toggle button {
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  /* white-space: pre; */
}
.post-dropdown-toggle button:first-child {
  margin-bottom: 17px;
}
.post-dropdown-toggle button svg {
  margin-right: 6px;
}
.profile-dropdown {
  position: absolute;
  display: none;
}
.profile-dropdown-toggle .profile-dropdown {
  position: absolute;
  display: block;
  background: #334f55;
  background-color: #334f55;
  border-radius: 10px;
  padding: 22px 7px 19px 19px;
  width: 164px;
  right: 0;
  top: 42px;
  z-index: 999;
}
.profile-dropdown-toggle .profile-dropdown button {
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  /* white-space: pre; */
}
.profile-dropdown-toggle .profile-dropdown button:not(:last-child) {
  margin-bottom: 17px;
}
.profile-dropdown-toggle .profile-dropdown button svg {
  margin-right: 6px;
}
.tolal-img-tced {
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 15px;
  padding: 10px 16px;
  margin-right: 20px;
  position: relative;
}
.tolal-img-tced::before {
  content: url(../images/Admin-monitoring/tced.png);
  position: absolute;
  width: 17px;
  top: 14px;
  left: 4px;
  right: -4px;
  margin: 0 auto;
}
.search {
  background: #ffffff;
  border: 1px solid #334f55;
  border-radius: 25px;
  max-width: 500px;
  width: 100%;
  height: 47px;
  padding: 12px 30px 9px 23px;
  margin: 0 50px 0 76px;
}
.icon {
  cursor: pointer;
}
header input {
  background: #ffffff;
  border: 0px solid #334f55;
  width: 100%;
}
input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.profile {
  margin: 0 39px 0 0;
}
.profile-name {
  cursor: pointer;
}
.profile-name p {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-right: 8px;
}
.avatar {
  width: 44.21px;
  height: 44.21px;
  background: #ffffff;
  border: 1px solid #334f55;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.nav-pills .nav-link.active {
  color: #fff;
  background-color: #fff !important;
}
.nav-pills .nav-link.active .total-modal {
  color: #fff;
  background-color: #525ded !important;
}
.nav-pills .nav-link.active .total-modal p {
  color: #fff !important;
  text-align: left;
}
.nav-pills .nav-link.active .total-modal h6 {
  color: #fff !important;
  text-align: left;
}
.nav-pills .nav-link.active .total-modal span {
  color: #fff !important;
  text-align: left;
}

/* Admin profile  */
.left-profile {
  width: 402px;
  height: 285px;
  background: #ffffff;
  border-radius: 15px;
  text-align: center;
  margin-right: 25px;
  padding: 15px;
  position: relative;
}

.profile-pen{
    position: absolute;
    background: #334F55;
    height: 26px;
    width: 26px;
    top: 19px;
    left: 216px;
    right: 0px;
    border-radius: 50px;
    z-index: 100;
}
h1{
    font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 41px;
margin-bottom: 40px !important;
color: #334F55;
}
.left-profile h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
    margin: 0;
  color: #334f55;
}
.left-profile h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
letter-spacing: .5px;
  color: #adadad;
}
.left-profile > img{
    margin: 37px 0 14px;
}
.user-info {
  background-color: #adadad;
  align-items: center;
  width: 128px;
  height: 26px;
  border-radius: 25px;
  padding: 10px;
  margin: 7px auto 0;
}
.user-info-phone {
  margin: 12px auto 0;
}
.user-info-mail {
  width: 175px;
}
.user-info p {
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  margin: 0 5px;
  color: #ffffff;
  white-space: pre;
}

/* Right Profile  */
.right-profile {
  width: 703px;
  height: 285px;
  background: #ffffff;
  border-radius: 15px;
}
.right-profile .update h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  background: #525ded;
  width: 93px;
  height: 36px;
  color: #ffffff;
  padding: 8px;
  border-radius: 0px 15px;
  text-align: center;
      margin-bottom: 45px;
}
.update {
    margin-left: 610px;
}
.right-profile p,
h6 {
  margin: 0;
}
.right-profile p {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  color: #adadad;
}
.right-profile h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: #334f55;
  background: #f5f5f5;
  border-radius: 2px;
  width: 125px;
  height: 30px;
  padding: 7px;
  margin: 8px 0 0 0;
}
.update-name {
  border-top: 1px solid #f5f5f5;
}
.update-name > div {
      margin: 30px 45px 32px 51px;
}
.update-name .email {
      margin: 30px 45px 32px 51px;
}
.update-paypal > div {
  margin: 0px 45px 0 51px;
}
.update-paypal .role {
  margin: 0px 45px 0 51px;
}
.upload{
    text-decoration-line: underline;
color: #ADADAD !important;
}


/* --------------Admin Profile Table----------- */

.ongoing-report-table {
  background: #ffffff;
  border-radius: 15px 15px 0 0;
  padding: 0 18px;
  margin: 25px 0px 0 0px;
  max-width: 1150px;
  width: 100%;
}
.select-bar {
  padding: 0 !important;
}
.activity-report {
  width: 378px;
  position: relative;
}
.admin-full-content .activity-report {
  width: 500px;
}
.admin-full-content canvas {
  height: 238px !important;
}
.admin-full-content .inprogress canvas {
  height: 180px !important;
}
.ongoing-text {
  height: 52px;
}
.ongoing-text .blue-data {
  background: #525ded;
  width: 80px;
  height: 25px;
  font-size: 12px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin: 16px auto 0;
}
.ongoing-text .blue-data p {
  margin: 0 5px 0 0;
  font-weight: 600;
  font-size: 12px;

  color: #ffffff;
}
.ongoing-text td {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 6px;
  line-height: 40px;
  color: #334f55;
}
.ongoing-head {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;

  color: #525ded;
  padding: 13px 32px;
}
.ongoing-head th {
  border: 0 !important;
  padding: 13px 5px !important;
}

.ongoing-report-table table tbody tr {
  position: relative;
}
/* .ongoing-report-table table tbody tr:hover td {
  text-shadow: 1px 0 0 currentColor;
  font-size: 14px;
  color: #334f55;
} */
/* .ongoing-report-table table tbody tr:hover::after {
  background: rgba(82, 93, 237, 0.25);
  content: '';
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
  left: -15px;
  right: -15px;
  top: 0;
  bottom: 0;
  z-index: 0;
} */
.ongoing-report-table table tbody tr:hover .form-select {
  background-color: rgba(45, 57, 226, 0);
}
.header-select-main{
 justify-content: flex-end;
}
.header-select .form-select{
 width: 200px !important;
 height: 40px !important;
 font-weight: 600 !important;
 color: #000000 !important;
 border-radius: 10px;
 font-size: 12px !important;
    margin: 38px 0 20px !important;
}
.form-select {
  position: relative;
  z-index: 10;
  position: relative;
  z-index: 10;
  margin: 16px auto 0 !important;
  font-size: 12px !important;
  font-weight: 800 !important;
  color: #334f55 !important;
  border: 1px solid !important;
  width: 85px !important;
  height: 25px !important;
}
.caption-top {
  caption-side: top;
  text-align: center;
}
.table-title h6{
  font-weight: bold;
font-size: 18px;
line-height: 25px;
    margin: 0px 0 13px 22px;
    padding: 24px 0 0 0;
color: #ADADAD;
}
.table-title h5{
  font-weight: 700;
font-size: 36px;
line-height: 25px;
margin: 0px 0 13px 22px;
color: #334F55;
}
.table-title p{
  font-weight: bold;
font-size: 18px;
line-height: 25px;
margin: 0px 0 13px 22px;
color: #FFA500;
}

/* ----------table end---------- */

.admin-profile h1{
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 41px;
    margin: 31px 0 10px !important;
color: #334F55;
}
.admin-profile p{
  font-weight: bold;
font-size: 14px;
line-height: 19px;

color: #ADADAD;
}
.admin-profile img{
margin-right: 10px;
}