p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;

  color: #334f55;
}

h2 {
  font-family: Noto Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}
.tinny-font {
  font-weight: 600 !important;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #adadad;
}
.page-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* align-items: baseline; */
}
.sidebar {
  width: 215px;
  background: #fff;
  min-width: 215px;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar .logo {
  margin-bottom: 69px;
}
.sidebar ul li {
  padding: 23px 0px 24px 39px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  color: #334f55;
}
.sidebar ul li span {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #334f55;
}

.responsive {
  width: 112px;
  background: #fff;
  min-width: 112px;
}
.responsive ul li span {
  display: none;
}
.sidebar ul li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.sidebar ul li:hover svg path {
  fill: #525ded;
}
.sidebar ul .active {
  background-color: #f5f5f5;
}
.sidebar ul .active svg path {
  fill: #525ded;
}
.sidebar svg {
  /* margin: 30px; */
  margin-right: 30px;
}

.admin-page-wrapper {
  background: #f5f5f5;
  padding: 37px 68px 28px 55px;
  width: 100%;
}
.admin-main-content-wrapper {
  display: flex;
}
.admin-full-content header > div > div {
  justify-content: space-between;
}
.admin-main-content-wrapper .content {
  max-width: 730px;
  width: 100%;
  margin-right: 32px;
}
.admin-full-content .admin-main-content-wrapper .content {
  max-width: 834px;
}
.content .activity-report-wrapper {
  background: #ffffff;
  border-radius: 15px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}
.activity-report-table {
  background: #ffffff;
  border-radius: 15px;
  padding: 0 18px;
  margin: 25px 0px 0 0px;
}
.table-price {
  position: relative;
}
.table-price:after {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 4px;
  right: 0;
  width: 40px;
  height: 2px;
  background: #ffa500;
}
.activity-report {
  width: 378px;
  position: relative;
}
.admin-full-content .activity-report {
  width: 500px;
}
.admin-full-content canvas {
  height: 238px !important;
}
.admin-full-content .inprogress canvas {
  height: 180px !important;
}
.table-text {
  height: 52px;
}
.table-text td {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 6px;
  line-height: 40px;
  color: #334f55;
}
.table-head {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #525ded;
  padding: 13px 32px;
}
.table-head th {
  border: 0 !important;
  padding: 13px 5px !important;
}

.activity-report-table table tbody tr {
  position: relative;
}
.activity-report-table table tbody tr:hover td {
  text-shadow: 1px 0 0 currentColor;
  font-size: 14px;
  color: #334f55;
}
.activity-report-table table tbody tr:hover::after {
  background: rgba(82, 93, 237, 0.25);
  content: "";
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
  left: -15px;
  right: -15px;
  top: 0;
  bottom: 0;
}
.job-status > div {
  display: flex;
  align-items: center;
  margin: 0px 0px 18px;
}
.job-status > div:last-child {
  margin: 0px 0px 0px;
}
.job-status p {
  margin: 0;
  font-weight: 700;
}
.modal-content {
  border-radius: 15px !important;
  width: 1250px !important;
  background: #fff;
}
.job-status-modal {
  margin-left: 13px;
}
.modal-main-content {
  margin-top: 42px;
}
.job-status-modal > p {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #747474;
  margin: 0 0 18px 7px;
}
.job-status-posted p {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #747474;
  margin-left: 12px;
}
.job-status-posted img {
  margin-right: 12px;
}
.content .job-status {
  width: 260px;
  background: #f5f5f5;
  border-radius: 15px;
  padding: 18px;
}
.tolal-img {
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 15px;
  padding: 11px 14px;
  margin-right: 20px;
}
.header-img h2 {
  margin-left: 12px !important;
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;

  color: #334f55;
}
.btn-group {
  width: 127px;
}
.notification-btn {
  cursor: pointer;
}
.post-dropdown {
  position: absolute;
  display: none;
}
.post-dropdown-toggle {
  position: absolute;
  display: block;
  background: #334f55;
  background-color: #334f55;
  border-radius: 10px;
  padding: 22px 7px 19px 19px;
  width: 164px;
  right: 0;
  top: 42px;
}
.post-dropdown-toggle button {
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  /* white-space: pre; */
}
.post-dropdown-toggle button:first-child {
  margin-bottom: 17px;
}
.post-dropdown-toggle button svg {
  margin-right: 6px;
}
.profile-dropdown {
  position: absolute;
  display: none;
}
.profile-dropdown-toggle .profile-dropdown {
  position: absolute;
  display: block;
  background: #334f55;
  background-color: #334f55;
  border-radius: 10px;
  padding: 22px 7px 19px 19px;
  width: 164px;
  right: 0;
  top: 42px;
  z-index: 999;
}
.profile-dropdown-toggle .profile-dropdown button {
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  /* white-space: pre; */
}
.profile-dropdown-toggle .profile-dropdown button:not(:last-child) {
  margin-bottom: 17px;
}
.profile-dropdown-toggle .profile-dropdown button svg {
  margin-right: 6px;
}
.tolal-img-tced {
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 15px;
  padding: 10px 16px;
  margin-right: 20px;
  position: relative;
}
.tolal-img-tced::before {
  content: url(../images/Admin-monitoring/tced.png);
  position: absolute;
  width: 17px;
  top: 14px;
  left: 4px;
  right: -4px;
  margin: 0 auto;
}
.search {
  background: #ffffff;
  border: 1px solid #334f55;
  border-radius: 25px;
  max-width: 500px;
  width: 100%;
  height: 47px;
  padding: 12px 30px 9px 23px;
  margin: 0 50px 0 76px;
}
.icon {
  cursor: pointer;
}
header input {
  background: #ffffff;
  border: 0px solid #334f55;
  width: 100%;
}
input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.profile {
  margin: 0 39px 0 0;
}
.profile-name {
  cursor: pointer;
}
.profile-name p {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-right: 8px;
}
.avatar {
  width: 44.21px;
  height: 44.21px;
  background: #ffffff;
  border: 1px solid #334f55;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.total-text p {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  /* white-space: pre; */
}
.total-text-mtos p {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  white-space: pre;
  margin: 0;
}
.total-text-mtos h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  color: #525ded;
}
.total-text h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  color: #525ded;
}
.content-right {
  width: 339px;
  background: #ffffff;
  border-radius: 15px;
  padding: 22px 18px 22px 22px;
  height: 803px;
}
.inprogress {
  position: relative;
  background: rgba(82, 93, 237, 0.25);
  border-radius: 15px;
  height: 282px;
  padding: 23px 13px 10px 12px;
}
.inprogress::before {
  content: url(../images/Admin-monitoring/+30%.png);
  content: "+30%";
  position: absolute;
  width: 17px;
  top: 180px;
  color: #525ded;
  font-weight: bold;
  left: 100;
  right: 90px;
  margin: 0 auto;
}
.inprogress::after {
  content: url(../images/Admin-monitoring/arrow-up.png);
  position: absolute;

  top: 180px;
  left: 100;
  right: 40px;
  margin: 0 auto;
}

.inprogress-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inprogress-heading h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #334f55;
}
.in-progress-status h5 {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #334f55;
}
.in-progress-status p {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #adadad;
}
.progress-chart {
  height: 220px;
  width: 286px;
}
.admin-title {
  margin: 27px 0 23px 0;
}
.admin-title .admin {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #adadad;
  height: 22px;
}
.monitoring {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #adadad;
  margin: 0 0 0 10px;
}
.admin-title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #334f55;
}
.admin-title span {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  padding: 4px 18px;

  color: #ffffff;
  background: #ffa500;
  border-radius: 100px;
}
.activity-text h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #334f55;
}
span {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  color: #adadad;
}
/* Number of MTOs  */
.number0f-mtos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgba(255, 165, 0, 0.25);
  border-radius: 15px;
  margin-top: 21px;
}
.mtso-increase {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #ffa500;
}
.mtso-increase span {
  width: 20px;
  height: 15px;
}
.numnerof-img {
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 15px;
  padding: 12px 8px 12px 17px;
  margin: 18px 11px 18px;
}
.numnerof-text p {
  margin: 0;
  white-space: pre;
  line-height: 15px;
}
.most-recent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 37px 0 13px;
}
.most-recent h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  color: #334f55;
}
.most-recent img {
  width: 22px;
  height: 11px;
}

/* compliance Extranctiob  */
.compliance-extract {
  display: flex;
  align-items: center;
}
.compliance-extract small {
  white-space: pre;
}
.compliance-extract p {
  margin: 0;
}
.recent-jobs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f5f5f5;
  padding: 10px 0px;
}
.recent-jobs-blue {
  background: rgba(82, 93, 237, 0.25);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 11px 10px 0;
}
.recent-jobs-yellow {
  background: rgba(255, 165, 0, 0.25);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 11px 10px 0;
}
.price-progress p {
  margin: 0;
  text-align: right;
}
/*----------- modal ---------- */
.modal-header {
  position: absolute;
  right: 0;
  z-index: 10;
  top: -50px;
}
.modal-dialog {
  margin-top: 100px !important;
}
.modal-header button {
  background: #525ded;
  opacity: 1;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 0 !important;
}
.activity-report-modal-body {
  width: 896px;
  padding: 0;
  border-radius: 15px;
  margin: 25px 18px 0 30px;
}
.activity-report-modal-body tbody tr:hover:after {
  left: 0px !important;
  right: 0px !important;
}
.caption-top-modal {
  background: #f5f5f5;
  border-radius: 15px;
  padding: 5px 5px 24px;
}
.table tbody tr:last-child td {
  border: 0 !important;
}
.total-modal {
  background: #f5f5f5;
  border-radius: 15px;
  width: 240px;
  height: 80px;
}
.total-modal-blue {
  background: rgba(82, 93, 237, 1);
  color: #ffffff;
  border-radius: 15px;
  width: 240px;
  height: 80px;
}
.total-modal-blue p {
  color: #ffffff !important;
}
.total-text-modal h6,
.white-span {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
.total-img-modal {
  margin-left: 17px;
}
.modal-heading p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #525ded;
  margin: 5px 20px;
}
.modal-heading h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #ffa500;
  margin: 5px;
}
/* chart  */
.chart-text {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
}
.calendar-date {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 60px;
  justify-content: center;
  color: #334f55;
}
.paggination p {
  margin: 0 20px 0 0;
  background: #747474;
  padding: 6px 11px;
  border-radius: 50%;
  color: white;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
}

.paggination {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.pagination li {
  margin: 0 10px;
}
.pagination .page-item .page-link {
  background: #747474;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
.pagination .active .page-link {
  background: #525ded;
}
.pagination li a {
  border-radius: 50% !important;
  padding: 0;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #525ded;
} */

/* .nav-pills .nav-link.active, .nav-pills .show>.nav-link .total-modal-nav {
    color: #fff;
    background-color: #525ded !important;
} */
/* .nav-pills .nav-link.active, .nav-pills .show>.nav-link .tolal-modal-nav{
    color: #fff;
    background-color: #d11b94 !important;
} */

.tolal-modal-nav{

    background-color:white;

}
.tolal-modal-nav:active{
    color: #fff;
    background-color: #d11b94 !important;

}
.tolal-modal-nav:focus{
    color: #fff;
    background-color: #d11b94 !important;

}