

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
}

.page-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.sidebar {
  width: 215px;
  background: #fff;
}
.admin-page-wrapper{
  background: #f5f5f5;
  padding-left: 55px;
  padding-bottom: 28px;
  width: 100%;
}
.admin-main-content-wrapper {
  display: flex;
}
.admin-main-content-wrapper .content {
  max-width: 730px;
  width: 100%;
  margin-right: 32px;

}
.content .activity-report-wrapper {
  background: #ffffff;
  border-radius: 15px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}
.activity-report-table {
  background: #ffffff;
  border-radius: 15px;
  padding: 18px;
  margin-top: 25px;
}
.activity-report {
  width: 378px;
  position: relative;
}
.table-text td{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
color: #334F55;
}
.table-head{
  font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 19px;
color: #525DED;
}
.job-status > div{
 display: flex;
align-items: center;
margin: 18px 7px;
}
.job-status p{
margin: 0;
font-weight: 700;
}
.content .job-status {
  width: 260px;
  background: #f5f5f5;
  border-radius: 15px;
  padding: 18px;
}
.tolal-img{
 height: 50px;
 width: 50px;
 background: white;
 border-radius: 15px;
padding: 11px 14px;
 margin-right: 20px;
}
.tolal-img-tced{
 height: 50px;
 width: 50px;
 background: white;
 border-radius: 15px;
padding: 10px 16px;
 margin-right: 20px;
 position: relative;
}
.tolal-img-tced::before{
content: url(../images/Admin-monitoring/tced.png);
    position: absolute;
    width: 17px;
    top: 14px;
    left: 4px;
    right: -4px;
    margin: 0 auto;
}

.total-text{
     line-height: 20px;
}
.total-text p{
    font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
}
.content-right {
  width: 339px;
  background: #FFFFFF;
border-radius: 15px;
padding: 22px 18px 22px 22px;
}
.inprogress{
  position: relative;
  background: rgba(82, 93, 237, 0.25);
border-radius: 15px;
height: 282px;
}
.inprogress-heading{
 display: flex;
 align-items: center;
 justify-content: space-around
}
.progress-chart{
 height: 220px;
    width: 286px;
}

/* Number of MTOs  */
.number0f-mtos{
 display: flex;
 align-items: center;
 justify-content: center;
 background: rgba(255, 165, 0, 0.25);
 border-radius: 15px;
    margin-top: 15px;
}
.numnerof-img{
      height: 50px;
    width: 50px;
    background: white;
    border-radius: 15px;
    padding: 12px 8px 12px 17px;
    margin: 10px;
}
.numnerof-text{
    margin-top: 15px;
}
.numnerof-text p{
margin: 0;
white-space: pre;
line-height: 15px;
}
.most-recent{
  display: flex;
  align-items: center;
justify-content: space-between;
margin: 20px 0;
}
.most-recent img{
  width: 22px;
  height: 11px;
}
/* compliance Extranctiob  */
.compliance-extract{
  display: flex;
  align-items: center;
}
.compliance-extract small{
      white-space: pre;
}
.compliance-extract p{
margin: 0;
}
.recent-jobs{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.recent-jobs-blue{
 background: rgba(82, 93, 237, 0.25);
 padding: 10px;
 border-radius: 10px;
 margin: 10px;

}
.recent-jobs-yellow{
 background: rgba(255, 165, 0, 0.25);
 padding: 10px;
 border-radius: 10px;
 margin: 10px;

}
.price-progress p{
  margin: 0;
  text-align: right;
}