p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans', sans-serif;

  color: #334f55;
}
body{
  background: #F5F5F5 !important;
}
h2 {
  font-family: Noto Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}
.tinny-font {
  font-weight: 600 !important;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #adadad;
}
.page-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* align-items: baseline; */
}
.sidebar {
  width: 215px;
  background: #fff;
  min-width: 215px;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar .logo {
  margin-bottom: 69px;
}
.sidebar ul li {
  padding: 14px 0px 14px 39px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  color: #334f55;
}
.sidebar ul li span {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #334f55;
}

.responsive {
  width: 112px;
  background: #fff;
  min-width: 112px;
}
.responsive ul li span {
  display: none;
}
.sidebar ul li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.sidebar ul li:hover svg path {
  fill: #525ded;
}
.sidebar ul .active li{
  background-color: #f5f5f5;
}
.active{
  text-decoration: none;
}
.sidebar ul .active svg path {
  fill: #525ded;
}
.sidebar svg {
  /* margin: 30px; */
  margin-right: 30px;
}

.admin-page-wrapper {
  background: #f5f5f5;
  padding: 37px 68px 28px 55px;
  width: 100%;
}
.admin-main-content-wrapper {
  display: flex;
}
.admin-full-content header > div > div {
  justify-content: space-between;
}
.admin-main-content-wrapper .content {
  max-width: 730px;
  width: 100%;
  margin-right: 32px;
}
.admin-full-content .admin-main-content-wrapper .content {
  max-width: 834px;
}
.content .activity-report-wrapper {
  background: #ffffff;
  border-radius: 15px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

.content .job-status {
  width: 260px;
  background: #f5f5f5;
  border-radius: 15px;
  padding: 18px;
}
.tolal-img {
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 15px;
  padding: 11px 14px;
  margin-right: 20px;
}
.header-img h2 {
  margin-left: 12px !important;
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;

  color: #334f55;
}
.btn-group {
  width: 127px;
}
.notification-btn {
  cursor: pointer;
}
.post-dropdown {
  position: absolute;
  display: none;
}
.post-dropdown-toggle {
  position: absolute;
  display: block;
  background: #334f55;
  background-color: #334f55;
  border-radius: 10px;
  padding: 22px 7px 19px 19px;
  width: 164px;
  right: 0;
  top: 42px;
}
.post-dropdown-toggle button {
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  /* white-space: pre; */
}
.post-dropdown-toggle button:first-child {
  margin-bottom: 17px;
}
.post-dropdown-toggle button svg {
  margin-right: 6px;
}
.profile-dropdown {
  position: absolute;
  display: none;
}
.profile-dropdown-toggle .profile-dropdown {
  position: absolute;
  display: block;
  background: #334f55;
  background-color: #334f55;
  border-radius: 10px;
  padding: 22px 7px 19px 19px;
  width: 164px;
  right: 0;
  top: 42px;
  z-index: 999;
}
.profile-dropdown-toggle .profile-dropdown button {
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  /* white-space: pre; */
}
.profile-dropdown-toggle .profile-dropdown button:not(:last-child) {
  margin-bottom: 17px;
}
.profile-dropdown-toggle .profile-dropdown button svg {
  margin-right: 6px;
}
.tolal-img-tced {
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 15px;
  padding: 10px 16px;
  margin-right: 20px;
  position: relative;
}
.tolal-img-tced::before {
  content: url(../images/Admin-monitoring/tced.png);
  position: absolute;
  width: 17px;
  top: 14px;
  left: 4px;
  right: -4px;
  margin: 0 auto;
}
.search {
  background: #ffffff;
  border: 1px solid #334f55;
  border-radius: 25px;
  max-width: 500px;
  width: 100%;
  height: 47px;
  padding: 12px 30px 9px 23px;
  margin: 0 50px 0 76px;
}
.icon {
  cursor: pointer;
}
header input {
  background: #ffffff;
  border: 0px solid #334f55;
  width: 100%;
}
input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.profile {
  margin: 0 39px 0 0;
}
.profile-name {
  cursor: pointer;
}
.profile-name p {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-right: 8px;
}
.avatar {
  width: 44.21px;
  height: 44.21px;
  background: #ffffff;
  border: 1px solid #334f55;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.nav-pills .nav-link.active {
  color: #fff;
  background-color: #fff !important;
}
.nav-pills .nav-link.active .total-modal {
  color: #fff;
  background-color: #525ded !important;
}
.nav-pills .nav-link.active .total-modal p {
  color: #fff !important;
  text-align: left;
}
.nav-pills .nav-link.active .total-modal h6 {
  color: #fff !important;
  text-align: left;
}
.nav-pills .nav-link.active .total-modal span {
  color: #fff !important;
  text-align: left;
}

/* --------------Job Ongoing------------ */

.activity-report-table {
  background: #ffffff;
      border-radius: 15px 15px 0 0;
  padding: 0 18px;
  margin: 25px 0px 0 0px;
  max-width: 1150px;
  width: 100%;
}
.select-bar {
  padding: 0 !important;
}
.activity-report {
  width: 378px;
  position: relative;
}
.admin-full-content .activity-report {
  width: 500px;
}
.admin-full-content canvas {
  height: 238px !important;
}
.admin-full-content .inprogress canvas {
  height: 180px !important;
}
.table-text {
  height: 52px;
}
.table-font {
  height: 52px;
}
.table-font .blue-data button{
  background: #525ded;
 width: 71px !important;
  font-weight: 800 !important;
  border: 0;
  height: 28px !important;
  font-size: 12px !important;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0 !important;
  color: #ffffff;
}
.table-font .delete-data  button{
  background: #CFD0DC;
  width: 71px !important;
  font-weight: 800 !important;
  border: 0;
  height: 28px !important;
  font-size: 12px !important;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0 !important;
  color: #ffffff;
}
.table-font .active-data {
  background: rgba(36, 255, 0, 0.25);
  width: 80px;
  height: 26px;
  font-size: 12px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0;

}
.table-font .inactive-data {
  background: rgba(255, 15, 0, 0.25);
  width: 80px;
  height: 26px;
  font-size: 12px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0;

}
.table-font .active-data p {
  margin: 0 5px 0 0;
font-weight: 800;
font-size: 12px;
color: #334F55;
}
.table-font .inactive-data p {
  margin: 0 5px 0 0;
font-weight: 800;
font-size: 12px;
color: #334F55;
}
.table-text td {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 6px;
  line-height: 38px;
  color: #334f55;
}
.table-font td {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 6px;
  line-height: 48px;
  color: #334f55;
}
.table-head {
  font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 45px;

color: #525DED;
  padding: 20px 32px 30px;
}
.table-head th {
  border: 0 !important;
  padding: 13px 5px !important;
}

.activity-report-table table tbody tr {
  position: relative;
}

.caption-top {
  caption-side: top;
  text-align: center;
}

.jobs-title {
     margin-top: 31px;
}
.jobs-title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #334f55;
}
.jobs-title span {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
     padding: 4px 9px;
     white-space: pre;

  color: #ffffff;
  background: #ffa500;
  border-radius: 100px;
}
/* Welcome back  */
.welcome-back p{
font-weight: bold;
font-size: 14px;
line-height: 19px;
    margin: 0 0 0 5px;
color: #A8ABAC;
}


/* Tabs */
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #F5F5F5;
      width: 836px;
      margin-top: 19px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.01s;
  margin: 0 50px 0 0;
  font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;

color: #334F55;
}

 /* Change background color of buttons on hover */
.tab button:hover {
    text-decoration: none;
  color: #334F55;
  border-bottom: 4px solid #525DED;
   border-radius: 3px;
}

/* Create an active/current tablink class */
.tab button.active {
 border-bottom: 4px solid #525DED;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

/* ------------------ */
/* .tablinks{
 padding-bottom: 10px !important;
 position: relative;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 27px;
color: #ADADAD;
}
.active{
 font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 27px;

color: #334F55;
}
.active::after{
       Content: '';
    position: absolute;
    top: 43px;
    background-color: #FFA500;
    left: 47px;
} */

/* -------View all Admins -------- */
.table-img{
 height: 50px;
 width: 50px;
    padding: 2px;
background: #F5F5F5;
border-radius: 10px;
}
.table-text td{
  border-width: 1px 0 0;
}
.table-font td{
  border-width: 1px 0 0;
}


/* ------------Jobs Created Page-----------  */
.jobs-card{
 width: 261px;
 height: 215px;
 background: #FFFFFF;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 15px;
padding: 23px 23px 30px 30px;
margin: 45px 29px 29px 0;
}
.card-content{
 display: flex;
 align-items: center;
}
.card-content img{
margin-right: 6px;
}
.card-content h6{
margin: 0;
font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #334F55;
}
.jobs-card h3{
margin: 37px 0 2px;
font-weight: bold;
font-size: 36px;
line-height: 49px;

color: #334F55;
}
.total-amount h4{
margin: 5px 0;
font-weight: bold;
font-size: 36px;
line-height: 49px;

color: #334F55;
}
.jobs-card p{
font-weight: bold;
font-size: 18px;
line-height: 25px;
white-space: pre;
color: #ADADAD;
}
.total-amount{
  margin: 20px 0 0 12px;
  padding-top: 20px;
}
.total-amount p{
font-weight: bold;
font-size: 18px;
line-height: 25px;
white-space: pre;
color: #ADADAD;
margin: 0;
}
.total-amount h5{
font-weight: bold;
font-size: 18px;
line-height: 25px;
white-space: pre;
color: #FFA500;
margin: 0;
}
hr{
 border: 1px solid #ADADAD;
}
.card-mtos {
        width: 261px;
    height: 215px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 23px 23px 30px 30px;
    margin: 45px 0px 29px 0;

}
.card-mtos h3 {
  margin: 13px 0 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;

  color: #334f55;
}
.card-mtos p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;

  color: #adadad;
}
.card-mtos .card-content {
   align-items: normal;
   position: relative;
}
.card-mtos .card-content::before{
    content: url(/images/Jobs-Created/$.png);
    position: absolute;
    width: 14px;
    height: 19px !important;
    top: 3px;
    left: -333px;
    right: 431px;
    margin: 0 auto;
}

.card-mtos .card-content img{
   margin-top: 4px;

}

/* table  */
.table-price {
  position: relative;
}
.table-price:after {
    position: absolute;
    content: "";
    bottom: 14px;
    left: 123px;
    right: 0;
    width: 40px;
    height: 2px;
    background: #ffa500;
}

/* --------------Job Ongoing------------ */

.ongoing-report-table {
  background: #ffffff;
  border-radius: 15px;
  padding: 0 18px;
  margin: 25px 0px 0 0px;
  max-width: 1150px;
  width: 100%;
}
.select-bar {
  padding: 0 !important;
}
.activity-report {
  width: 378px;
  position: relative;
}
.admin-full-content .activity-report {
  width: 500px;
}
.admin-full-content canvas {
  height: 238px !important;
}
.admin-full-content .inprogress canvas {
  height: 180px !important;
}
.ongoing-text {
  height: 52px;
}
.ongoing-text .blue-data {
  background: #525ded;
  width: 80px;
  height: 25px;
  font-size: 12px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin: 16px auto 0;
}
.ongoing-text .blue-data p {
  margin: 0 5px 0 0;
  font-weight: 600;
  font-size: 12px;

  color: #ffffff;
}
.ongoing-text td {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 6px;
  line-height: 40px;
  color: #334f55;
}
.ongoing-head {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;

  color: #525ded;
  padding: 13px 32px;
}
.ongoing-head th {
  border: 0 !important;
  padding: 13px 5px !important;
}

.ongoing-report-table table tbody tr {
  position: relative;
}
/* .ongoing-report-table table tbody tr:hover td {
  text-shadow: 1px 0 0 currentColor;
  font-size: 14px;
  color: #334f55;
} */
.ongoing-report-table table tbody tr:hover::after {
  background: rgba(82, 93, 237, 0.25);
  content: '';
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
  left: -15px;
  right: -15px;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.ongoing-report-table table tbody tr:hover .form-select {
  background-color: rgba(45, 57, 226, 0);
}
.header-select-main{
 justify-content: flex-end;
}
.header-select .form-select{
 width: 200px !important;
 height: 40px !important;
 font-weight: 600 !important;
 color: #000000 !important;
 border-radius: 10px;
 font-size: 12px !important;
    margin: 38px 0 20px !important;
}
.form-select {
  position: relative;
  z-index: 10;
  position: relative;
  z-index: 10;
  margin: 16px auto 0 !important;
  font-size: 12px !important;
  font-weight: 800 !important;
  color: #334f55 !important;
  border: 1px solid !important;
  width: 85px !important;
  height: 25px !important;
}
.caption-top {
  caption-side: top;
  text-align: center;
}
/* ----------table end---------- */