p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans', sans-serif;

  color: #334f55;
}

h2 {
  font-family: Noto Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}
.tinny-font {
  font-weight: 600 !important;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: #adadad;
}
.page-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* align-items: baseline; */
}
.sidebar {
  width: 215px;
  background: #fff;
  min-width: 215px;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar .logo {
  margin-bottom: 69px;
}
.sidebar ul li {
  padding: 23px 0px 24px 39px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  color: #334f55;
}
.sidebar ul li span {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #334f55;
}

.responsive {
  width: 112px;
  background: #fff;
  min-width: 112px;
}
.responsive ul li span {
  display: none;
}
.sidebar ul li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.sidebar ul li:hover svg path {
  fill: #525ded;
}
.sidebar ul .active {
  background-color: #f5f5f5;
}
.sidebar ul .active svg path {
  fill: #525ded;
}
.sidebar svg {
  /* margin: 30px; */
  margin-right: 30px;
}

.admin-page-wrapper {
  background: #f5f5f5;
  padding: 37px 68px 28px 55px;
  width: 100%;
}
.admin-main-content-wrapper {
  display: flex;
}
.admin-full-content header > div > div {
  justify-content: space-between;
}
.admin-main-content-wrapper .content {
  max-width: 730px;
  width: 100%;
  margin-right: 32px;
}
.admin-full-content .admin-main-content-wrapper .content {
  max-width: 834px;
}
.content .activity-report-wrapper {
  background: #ffffff;
  border-radius: 15px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

.content .job-status {
  width: 260px;
  background: #f5f5f5;
  border-radius: 15px;
  padding: 18px;
}
.tolal-img {
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 15px;
  padding: 11px 14px;
  margin-right: 20px;
}
.header-img h2 {
  margin-left: 12px !important;
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;

  color: #334f55;
}
.btn-group {
  width: 127px;
}
.notification-btn {
  cursor: pointer;
}
.post-dropdown {
  position: absolute;
  display: none;
}
.post-dropdown-toggle {
  position: absolute;
  display: block;
  background: #334f55;
  background-color: #334f55;
  border-radius: 10px;
  padding: 22px 7px 19px 19px;
  width: 164px;
  right: 0;
  top: 42px;
}
.post-dropdown-toggle button {
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  /* white-space: pre; */
}
.post-dropdown-toggle button:first-child {
  margin-bottom: 17px;
}
.post-dropdown-toggle button svg {
  margin-right: 6px;
}
.profile-dropdown {
  position: absolute;
  display: none;
}
.profile-dropdown-toggle .profile-dropdown {
  position: absolute;
  display: block;
  background: #334f55;
  background-color: #334f55;
  border-radius: 10px;
  padding: 22px 7px 19px 19px;
  width: 164px;
  right: 0;
  top: 42px;
  z-index: 999;
}
.profile-dropdown-toggle .profile-dropdown button {
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  /* white-space: pre; */
}
.profile-dropdown-toggle .profile-dropdown button:not(:last-child) {
  margin-bottom: 17px;
}
.profile-dropdown-toggle .profile-dropdown button svg {
  margin-right: 6px;
}
.tolal-img-tced {
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 15px;
  padding: 10px 16px;
  margin-right: 20px;
  position: relative;
}
.tolal-img-tced::before {
  content: url(../images/Admin-monitoring/tced.png);
  position: absolute;
  width: 17px;
  top: 14px;
  left: 4px;
  right: -4px;
  margin: 0 auto;
}
.search {
  background: #ffffff;
  border: 1px solid #334f55;
  border-radius: 25px;
  max-width: 500px;
  width: 100%;
  height: 47px;
  padding: 12px 30px 9px 23px;
  margin: 0 50px 0 76px;
}
.icon {
  cursor: pointer;
}
header input {
  background: #ffffff;
  border: 0px solid #334f55;
  width: 100%;
}
input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.profile {
  margin: 0 39px 0 0;
}
.profile-name {
  cursor: pointer;
}
.profile-name p {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-right: 8px;
}
.avatar {
  width: 44.21px;
  height: 44.21px;
  background: #ffffff;
  border: 1px solid #334f55;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.nav-pills .nav-link.active {
  color: #fff;
  background-color: #fff !important;
}
.nav-pills .nav-link.active .total-modal {
  color: #fff;
  background-color: #525ded !important;
}
.nav-pills .nav-link.active .total-modal p {
  color: #fff !important;
  text-align: left;
}
.nav-pills .nav-link.active .total-modal h6 {
  color: #fff !important;
  text-align: left;
}
.nav-pills .nav-link.active .total-modal span {
  color: #fff !important;
  text-align: left;
}

/* --------------Job Ongoing------------ */

.activity-report-table {
  background: #ffffff;
  border-radius: 15px;
  padding: 0 18px;
  margin: 25px 0px 0 0px;
  max-width: 1150px;
  width: 100%;
}
.select-bar {
  padding: 0 !important;
}
.activity-report {
  width: 378px;
  position: relative;
}
.admin-full-content .activity-report {
  width: 500px;
}
.admin-full-content canvas {
  height: 238px !important;
}
.admin-full-content .inprogress canvas {
  height: 180px !important;
}
.table-text {
  height: 52px;
}
.table-text .blue-data {
  background: #525ded;
  width: 71px;
  height: 28px;
  font-size: 12px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin: 16px auto 0;
}
.table-text .active-data {
  background: rgba(36, 255, 0, 0.25);
  width: 80px;
  height: 26px;
  font-size: 12px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin: 16px auto 0;

}
.table-text .inactive-data {
  background: rgba(255, 15, 0, 0.25);
  width: 80px;
  height: 26px;
  font-size: 12px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin: 16px auto 0;

}
.table-text .active-data p {
  margin: 0 5px 0 0;
font-weight: 800;
font-size: 12px;
color: #334F55;
}
.table-text .inactive-data p {
  margin: 0 5px 0 0;
font-weight: 800;
font-size: 12px;
color: #334F55;
}
.table-text .blue-data p {
  margin: 0 5px 0 0;
  font-weight: 600;
  font-size: 12px;

  color: #ffffff;
}
.table-text td {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 6px;
  line-height: 40px;
  color: #334f55;
}
.table-head {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;

  color: #525ded;
  padding: 13px 32px;
}
.table-head th {
  border: 0 !important;
  padding: 13px 5px !important;
}

.activity-report-table table tbody tr {
  position: relative;
}

.caption-top {
  caption-side: top;
  text-align: center;
}

.jobs-title {
     margin-top: 31px;
}
.jobs-title h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #334f55;
}
.jobs-title span {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
     padding: 4px 9px;
     white-space: pre;

  color: #ffffff;
  background: #ffa500;
  border-radius: 100px;
}
/* Welcome back  */
.welcome-back p{
font-weight: bold;
font-size: 14px;
line-height: 19px;
    margin: 0 0 0 5px;
color: #A8ABAC;
}

/* Job Types */
.job-types {
  margin: 2rem 0 0 0;
}
.job-types a {
  margin: 0 50px 0 0;
  padding: 0 3px;
  font-weight: bolder;
  cursor: pointer;
  color: #334F55;
      font-size: 18px;
}
.job-types a:hover {
  text-decoration: none;
  color: #334F55;
  border-bottom: 4px solid #525DED;
   border-radius: 3px;
}
.job-types a
 {
  text-decoration: none;
}

.current-job-listing {
  border-bottom: 4px solid #525DED;
  border-radius: 3px;
}

/* -------View all Admins -------- */
.table-img{
 height: 50px;
 width: 50px;
    padding: 2px;
background: #F5F5F5;
border-radius: 10px;
}
.table-text td{
  border-width: 1px 0 0;
}